body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 约束大小 */
.knot {
  box-sizing: border-box;
  font-size: 100px;
  width: 2em;
  height: 1.6em;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  box-sizing: border-box;
  position: absolute;
  width: 1em;
  height: 1em;
  border: 0.05em solid firebrick;
  transform: rotate(45deg);
}
.top {
  box-sizing: border-box;
  position: absolute;
  width: 1em;
  height: 1em;
  border: 0.05em solid firebrick;
  border-left: 0 none;
  border-top: 0 none;
}
.top::before, .top::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  /* top: -0.05em;
  left: -0.05em; */
  width: 1em;
  height: 1em;
  border: 0.05em solid firebrick;
  border-radius: 50% 50% 50% 50%;
}
.top::before {
  transform: rotate(-45deg) translate(-33%, -33%);
  border-radius: 50% 50% 0% 50%;
  border-bottom: 0 none;
  border-right: 0 none;
}
.top::after {
  transform: rotate(-45deg) translate(33%, -33%);
  border-radius: 50% 50% 50% 0%;
  border-left: 0 none;
  border-bottom: 0 none;
}